In [1]:
# DEPENDENCIES
import pandas as pd
import numpy as np
import re
# GLOBAL VARIABLES
# FUNCTIONS
# PROCEDURES
raw_data = pd.read_csv('/Users/sampoad/Documents/Ironhack/data-labs/module-1/pandas-project/GSAF5.csv', engine='python')
# print(raw_data.head())

raw_data = raw_data.drop(columns=['original order', 'Unnamed: 22', 'Unnamed: 23'])
# print(raw_data.head())
print(len(raw_data['Case Number']))
# print(len(raw_data['Case Number.1']))
# print(len(raw_data['Case Number.2']))
print(raw_data['Case Number'].isnull().sum())
print(raw_data['Case Number.1'].isnull().sum())
print(raw_data['Case Number.2'].isnull().sum())
print(raw_data.isnull().sum())

5992
0
0
0
Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
dtype: int64

In [2]:
print(list(raw_data))

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2']

Since these three Columns appeared to identical for the first five rows, I want to drop the column if they are duplicates.

In [3]:
raw_data.drop(['Case Number.1', 'Case Number.2', 'pdf', 'href formula', 'href'], axis = 1, inplace = True)
print(list(raw_data))

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source']

In [4]:
print(raw_data.dtypes)

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
dtype: object

In [5]:
print(raw_data.drop('Year', axis = 1).describe()) # this lets me review the Summary info for the dataframe minus the Year column which is an integer datatype

         Case Number  Date        Type Country     Area  \
count           5992  5992        5992    5949     5590
unique          5976  5128           6     203      785
top     1962.06.11.b  1957  Unprovoked     USA  Florida
freq               2    11        4386    2116      990

                                Location Activity  Name  Sex    Age Injury  \
count                               5496     5465  5792  5425  3311   5965
unique                              3929     1492  5009     6   151   3595
top     New Smyrna Beach, Volusia County  Surfing  male     M    17  FATAL
freq                                 157      904   495  4835   148    729

       Fatal (Y/N)       Time     Species  Investigator or Source
count         5973       2779         3058                   5977
unique           8        357         1538                   4752
top              N  Afternoon  White shark         C. Moore, GSAF
freq          4315        174          161                     94

I want to drop the rows that do not belong to either Provoked or Unprovoked

In [12]:
clean_data = raw_data[(raw_data['Type'] == 'Provoked') | (raw_data['Type'] == 'Unprovoked')]
print(clean_data.head())

print(len(raw_data['Type']))
print(len(clean_data['Type']))
print("Rows Dropped: " + str(len(raw_data['Type']) - len(clean_data['Type'])))

    Case Number       Date  Year        Type    Country      Area  \
0  2016.09.18.c  18-Sep-16  2016  Unprovoked        USA   Florida
1  2016.09.18.b  18-Sep-16  2016  Unprovoked        USA   Florida
2  2016.09.18.a  18-Sep-16  2016  Unprovoked        USA   Florida
3    2016.09.17  17-Sep-16  2016  Unprovoked  AUSTRALIA  Victoria
4    2016.09.15  16-Sep-16  2016  Unprovoked  AUSTRALIA  Victoria

                           Location Activity             Name Sex   Age  \
0  New Smyrna Beach, Volusia County  Surfing             male    M   16
1  New Smyrna Beach, Volusia County  Surfing   Chucky Luciano    M   36
2  New Smyrna Beach, Volusia County  Surfing             male    M   43
3                  Thirteenth Beach  Surfing  Rory Angiolella    M  NaN
4                       Bells Beach  Surfing             male    M  NaN

                                  Injury Fatal (Y/N)   Time   Species   \
0                  Minor injury to thigh           N  13h00        NaN
1                   Lacerations to hands           N  11h00        NaN
2               Lacerations to lower leg           N  10h43        NaN
3           Struck by fin on chest & leg           N    NaN        NaN
4  No injury: Knocked off board by shark           N    NaN  2 m shark

        Investigator or Source
0  Orlando Sentinel, 9/19/2016
1  Orlando Sentinel, 9/19/2016
2  Orlando Sentinel, 9/19/2016
3           The Age, 9/18/2016
4           The Age, 9/16/2016
5992
4943
Rows Dropped: 1049

Check on nullvalue counts after this drop.

In [14]:
print(clean_data.isnull().sum())

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     30
Area                       275
Location                   360
Activity                   357
Name                        82
Sex                        227
Age                       1928
Injury                      16
Fatal (Y/N)                  3
Time                      2429
Species                   2377
Investigator or Source      11
dtype: int64

Drop the nulls in Country (no meaningful way to replace these).

In [23]:
print(len(clean_data['Country'])) # returns 4943
clean_data = clean_data[clean_data['Country'].notnull()]
#filtered_df = df[df['Nums'] > 3]  # Filter out rows where 'Nums' value <= 3
print(len(clean_data['Country'])) # now returns 4913
#that dropped my thirty rows! 
print(clean_data.head())

4913
4913
    Case Number       Date  Year        Type    Country      Area  \
0  2016.09.18.c  18-Sep-16  2016  Unprovoked        USA   Florida
1  2016.09.18.b  18-Sep-16  2016  Unprovoked        USA   Florida
2  2016.09.18.a  18-Sep-16  2016  Unprovoked        USA   Florida
3    2016.09.17  17-Sep-16  2016  Unprovoked  AUSTRALIA  Victoria
4    2016.09.15  16-Sep-16  2016  Unprovoked  AUSTRALIA  Victoria

                           Location Activity             Name Sex   Age  \
0  New Smyrna Beach, Volusia County  Surfing             male    M   16
1  New Smyrna Beach, Volusia County  Surfing   Chucky Luciano    M   36
2  New Smyrna Beach, Volusia County  Surfing             male    M   43
3                  Thirteenth Beach  Surfing  Rory Angiolella    M  NaN
4                       Bells Beach  Surfing             male    M  NaN

                                  Injury Fatal (Y/N)   Time   Species   \
0                  Minor injury to thigh           N  13h00        NaN
1                   Lacerations to hands           N  11h00        NaN
2               Lacerations to lower leg           N  10h43        NaN
3           Struck by fin on chest & leg           N    NaN        NaN
4  No injury: Knocked off board by shark           N    NaN  2 m shark

        Investigator or Source
0  Orlando Sentinel, 9/19/2016
1  Orlando Sentinel, 9/19/2016
2  Orlando Sentinel, 9/19/2016
3           The Age, 9/18/2016
4           The Age, 9/16/2016

Drop the rows where Sex was not reported (no meaninful way to replace, and unable to answer my question)
But I should have been able to do BOTH in a combined conditional (Country and Sex) try that in the code below

In [24]:
print(len(clean_data['Country'])) # returns 4913 now because I dropped from above
clean_data = clean_data[
    (clean_data['Country'].notnull()) &
    (clean_data['Sex '].notnull()) # column name Sex had a trailing whitespace that threw me off with a Key Error. should have .strip() the elements in the list of column names! 
]
print(len(clean_data['Country'])) # should return 4913 - 227

4913
4686

In [26]:
clean_data = clean_data['Age'].fillna(clean_data['Age'].median()) # need to strip out the alpha characters, convert everything to an integer in this column. Astype or strip it/drop it?
print(clean_data['Age'].isnull().sum())

TypeError: could not convert string to float: '60s'